body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
canvas {
    border: 1px solid #000;
}

#scoreBoard {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    z-index: 10;
}
